@charset "utf-8";

body {font-family: 'Gothic A1', sans-serif; font-size: 1.6rem; line-height: 1.5; color: #fff;}

#wrap {overflow-x: hidden;}

.clearfix::after {content: ''; display: block; clear: both;}

.inner {max-width: calc(100% - 200px); margin: 0 auto;}


/* header */
#header {position: fixed; z-index: 10000; width: 100%; transition: background .5s, color .5s; border-bottom: solid 1px rgba(255, 255, 255, .5);}
#header .inner {height: 90px; display: flex; align-items: center; justify-content: space-between;}
#header h1 {transition: background .5s; background:url(../img/common/logo-white.png) center center no-repeat; width: 160px; height: 40px; position: relative; z-index: 999;}
#header h1 a {font-size: 0; display: block; width: 100%; height: 100%;}


#header .gnb {display: flex; }
#header .gnb > li {position: relative;}
#header .gnb > li > a {position:relative; z-index:100; transition: color .5s; display: block; color: #fff; text-align: center; font-weight: 600; width: 200px; line-height: 90px; position: relative;}

#header .gnb .depth2 { position: absolute; z-index: 99; text-align: center; width: 100%;}
#header .gnb .depth2::before {transition: all .1s; content: ''; width: 1px; background: #e4e4e4; position: absolute; top: -90px; right: 0; height: 300px;}
#header .gnb > li:last-child .depth2::before {display: none;}
#header .gnb > li .depth2:after{position: absolute; content: ""; width: 100%; height: 300px; top: -100px; left: 0; background-color: #f9f9f9; opacity: 0; z-index: -2; transition:all 0.2s;}
#header .gnb > li:hover .depth2:after{opacity:1;}


#header .gnb .depth2 li a {display: block; padding: 10px 15px; color: #666;}
#header .gnb .depth2 li a:hover {background: #000; color: #fff;}



#header .header_ui {display: flex; align-items: center; position: relative; z-index: 99;}
#header .header_ui li {margin-left: 40px; cursor: pointer;}
#header .header_ui li:first-child {margin-left: 0;}
#header .header_ui li .bi-search {transition: -webkit-text-stroke .5s; font-size: 16px; -webkit-text-stroke: 1px #fff}
#header .header_ui li .bi-person-fill {font-size: 20px;}


#header:hover {background: #fff; color: #000;}
#header:hover h1 {background:url(../img/common/logo-black.png) center center no-repeat;}
#header:hover .gnb > li > a {color: #000;}
#header:hover .header_ui li .bi-search {-webkit-text-stroke: 1px #000}
#header:hover .gnb > li:hover > a {color: #610C85; font-weight: 700;}


#gnb_bg {overflow: hidden; position: absolute; z-index: 98; left: 0; top: 0px; width: 100%; height: 300px; background: #fff;}



/* Sub_visual */
.sub_visual {width: 100%; height: 700px; background: url('../img/sub/sub_visual.jpg') no-repeat center center; display: flex; justify-content: center; align-items: center;}
.sub_visual h2 { font-family: 'Oswald', sans-serif; font-size: 9rem; letter-spacing: 1.7rem; font-weight: 500; padding-top: 90px; text-shadow: 0 0 10px rgba(0, 0, 0, .5);}

.snb_wrap {width: 100%; display: flex; justify-content: center; align-items: center; height: 80px;}
.snb {display: flex;}
.snb li {padding: 0 25px; position: relative;}
.snb li.on a {color: #000;}
.snb li.on::after {content: ''; width: 5px; height: 5px; border-radius: 50%; background: #000; position: absolute; top: 7.5px; left: calc(50% - 2.5px);}
.snb li::before {position: absolute; right: 0; top: calc(50% - 8px); content: ''; width: 1px; height: 15px; background: #aaa;}
.snb li a {transition: color .3s; display: block; padding: 15px 0; color: #aaa; font-weight: 600;}
.snb li a:hover {color: #000;}

/* concert */
.concert {width: 100%; background: #000;}

/* concert - top */
.concert_top {padding-top: 170px;}
.concert_top h3 {font-family: 'Oswald', sans-serif; text-align: center; font-size: 4.8rem; font-weight: 400; letter-spacing: .5rem; padding: 90px 0 60px; position: relative;}
.concert_top h3::before {content: ''; width: 3px; height: 50px; position: absolute; top: 0; left: 50%; background: #fff;}
.concert_model {display: flex; align-items: center; justify-content: center;}
.concert_model .model_list {margin-right: 5.208%;}
.concert_model .model_list li{font-weight: 700; font-size: 3rem; margin-bottom: 30px; line-height: 1; color: #333; cursor: pointer; position: relative;}
.concert_model .model_list li::after {transition: width 0.3s; content: ''; width: 0; height: 3px; background: #fff; position: absolute; left: 0; bottom: -5px;}
.concert_model .model_list li:hover {color: #fff;}
.concert_model .model_list li.active {color: #fff;}
.concert_model .model_list li.active::after {width: 100%;}

.concert_model .model_ex li p {width: 100%; text-align: right; letter-spacing: -1px; word-spacing: 1px; line-height: 1.4; font-size: 1.8rem; }

.concert_txt {padding: 240px 0;}
.concert_txt .inner {padding-left: 7.8125%;}
.concert_txt h4 {font-size: 8rem; padding-bottom: 50px;}
.concert_txt p {font-size: 2.4rem; letter-spacing: -1.5px; word-spacing: 2px; color: #aaa;}
.concert_txt p:nth-of-type(1) {padding-bottom: 30px;}
.concert_txt p span {font-weight: 700; color: #fff;}

/* cut */
.cut {font-size: 10rem; font-weight: 700; position: relative; width: 100%; max-width: 100%; height: auto; padding: 70px 0; overflow: hidden; -webkit-text-stroke: 1px #999; color: rgba(0, 0, 0, 0);}
.cut .cut_txt {width: 100%; position: absolute; top: 0; white-space: nowrap; will-change: transform; animation: rolling 20s linear infinite; display: flex;}
.cut .cut_txt p {padding-right: 50%;}
.cut .cut_txt p:hover {color: #aaa;}

@keyframes rolling {
    to {
      transform: translateX(-180%);
    }/* 대충 이위치에서 다시 시작하길래 맞춰놓음 */

    from {
      transform: translateX(100%);
    }
  }

/* concert - borrom */
.concert_bottom {padding: 240px 0;}